.container {
  background-image: url(../images/bg-pattern.svg);
  background-size: 100% 40rem;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 2.5rem;
}
