.header {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background-image: url(../images/pattern-circles.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 14.5rem;
  margin-top: 3rem;
  margin-bottom: 3.2rem;
  width: 100%;
  @include respond(big-desktop) {
    margin-top: 6.7rem;
    margin-bottom: 5.4rem;
  }

  &__title {
    font-size: 2rem;
    font-weight: 800;
    color: $color-grayish-blue-4;
    @include respond(big-desktop) {
      font-size: 2.8rem;
    }
  }

  &__subtitle {
    line-height: 2.3rem;
    font-weight: 600;
    font-size: 1.3rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    @include respond(big-desktop) {
      flex-direction: row;
      font-size: 1.5rem;
    }
    &--paragraph {
      &-1 {
        text-align: center;
      }
      &-2 {
        text-align: center;
      }
    }
  }
}
